header {
	background: #f6c275;
	color: #020dca;
}

body{
	background: #38f67c;

}

h1 {
	color: #020dca;
	font-family: fantasy;
	margin-left: 40%;
}

th {
	border-bottom: 2px solid black;
}

td {
    border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	font-family: didot;
	padding: 5px;
}